[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C = IN
ST = Delhi
L = New Delhi
O = VedicMate
OU = Tech
CN = 15.207.36.26

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 15.207.36.26
DNS.1 = localhost
